# Secrets
INFISICAL_MACHINE_CLIENT_ID=
INFISICAL_MACHINE_CLIENT_SECRET=

# Variables
PROJECT_ID=
INFISICAL_SECRET_ENV=
INFISICAL_API_URL=

# Secrets
PORTAINER_TOKEN=

# Variables
PORTAINER_URL=
DEPLOYMENT_COMPOSE_FILE=
DEPLOYMENT_REPOSITORY_URI=
DEPLOYMENT_SERVICE=
