
# vars
PORTAINER_URL=
# secrets
PORTAINER_TOKEN=

# vars
BACKEND_PROJECT_ID=
FRONTEND_PROJECT_ID=
INFISICAL_API_URL=
INFISICAL_SECRET_ENV=

# secrets
INFISICAL_MACHINE_CLIENT_ID=
INFISICAL_MACHINE_CLIENT_SECRET=

# vars
BACKEND_REPOSITORY_URI=
BACKEND_DEPLOYMENT_SERVICE=
BACKEND_DEPLOYMENT_COMPOSE_FILE=
FRONTEND_REPOSITORY_URI=
FRONTEND_DEPLOYMENT_SERVICE=
FRONTEND_DEPLOYMENT_COMPOSE_FILE=

# vars
ADMIN_EMAIL=
ADMIN_DB_HOST=
ADMIN_DB_DATABASE=
ADMIN_DB_USER=
ADMIN_PUBLIC_URL=
# secrets
ADMIN_SECRET=
ADMIN_DB_PASSWORD=
ADMIN_PASSWORD=