# --- Infisical --- #
# Secrets
INFISICAL_MACHINE_CLIENT_ID=
INFISICAL_MACHINE_CLIENT_SECRET=

# Variables
PROJECT_ID=
INFISICAL_SECRET_ENV=
INFISICAL_API_URL=

# --- Deployment --- #

# Secrets
PORTAINER_TOKEN=

# Variables
PORTAINER_URL=
DEPLOYMENT_REPOSITORY_URI=

# --- Github --- #
# Variables
ADMIN_EMAIL=
ADMIN_DB_HOST=
ADMIN_DB_DATABASE=
ADMIN_DB_USER=
ADMIN_PUBLIC_URL=

# Secrets
ADMIN_SECRET=
ADMIN_DB_PASSWORD=
ADMIN_PASSWORD=
